body{
  background-color: rgb(10, 2, 44);
    color: aliceblue;
}
.App {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  position: relative;

 }

.information {
  display: flex;
  flex-direction: column;
  width: 20%;
  float: left;
  align-items: center;
  background-color: blueviolet;
  height: 400px;
 position:sticky;
 border-radius: 20px;
}
.info{
  
justify-content: left;
margin-left: 10px;
}
label{
  margin-left: 12px;
}

input {
  width: 90%;
  /* height: 50px; */
  font-size: 20px;
  /* padding-left: 10px; */
  margin: 5px;
  border-radius: 5px;
  border: none;
}
input:hover{
  font-size: 25px;
  border: none;
}

button {
  width: 50%;
  /* height: 30px; */
  margin: 5px;
  margin-top: 15px;
  font-size: 18px;
background-color: rgb(105, 165, 145);
border: none;
border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(65, 102, 90);

}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  float: right;
}

.employee {
  width: 800px;
  height: auto;
  border: 1px solid rgb(95, 143, 161);
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 20px;
    background-color: blue;
}

.employee h3 {
  margin: 20px;
}